@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: rgb(17, 17, 17);
}
@font-face{
    font-family: designFont;
    src: url(../miama/Miama.ttf);
}
/* Global section */
a{
    text-decoration: none
}
.two-column-section{
    display: flex;
}
.heading-tittle{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
th, td, input, select, .paragraph-tittle{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}
.container{
    max-width: 90%;
    margin: 4rem auto;

}
.our-feature-heading, .our-service-tittle, .our-feature-left-heading, .become-member-heading{
    color: rgb(230, 83, 60);
    font-size: 2.35rem;
}
.meet-our-img-sec, .fit-and-fabulous-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 58px;
}

/* Heading section */
.heading-section{
    background: linear-gradient(to bottom, rgb(17, 17, 17,0.1),rgba(119, 119, 119, 0.1) 100%);

}
/* nav section */
.logo-section{
    font-size: 2.3rem;
    color:rgb(230, 83, 60) ;
    font-style: italic;
}
.nav-section{
    justify-content: space-between;
    align-items: center;
}
.nav-section-list{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}
.nav-link .click-button-nav{
    padding: 8px 20px;
    border-radius: 42px;
}
.ham-burger-menu{
    display: none;
}
/* Banner section */
.banner-section{
    justify-content: space-between;
    align-items: center;
    gap: 167px;

}
.banner-heading{
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 28px;
}
.heading-italic{
    font-family: designFont;
    font-weight: 400;
    font-size: 4.7rem;
}
.banner-button{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    padding: 16px 40px;
    border-radius: 42px;
    margin-top: 28px;
    margin-right: 14px;
}
.image-section img{
    width: 100%;
    margin-top: 30px;
    position: relative;
}
 .video-tutorial{
    padding: 23px 28px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 558px;
    right: 340px;
    cursor: pointer;
}
.video-tutorial .video-tutorial-num{
    font-size: 1.2rem;
    color: white;
    text-align: left;
}
.video-tutorial i{
    font-size: 2.25rem;
    background-color:rgb(250, 250, 249);
    border-radius: 50%;
    color: rgb(230, 83, 60);
}
 .free-workout{
    flex-direction: column;
    padding: 14px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 275px;
    right: 30px;
}
.free-workout .free-workout-num{
    font-size: 2.3rem;
    color: white;
    font-weight: 900;
}
/* End heading section */

/* Fit and fabulous */

.fit-and-fabulous-sec h3{
    text-align: center;
}
.fit-and-fabu-card-item{
    margin-bottom: 40px;
}
.fit-and-fabu-card-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.fit-and-fabu-card-item .fit-and-card-heading{
    font-size: 1.25rem;
    color: white;
    text-align: center;
    margin-top: 20px;
}

/*Change your habit section  */
.change-your-habit{
    flex-direction: column;
    text-align: center;
}
.habit-section-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
}
.habit-section-img .change-habit-img img{
    width: 60%;
    border-radius: 50%;
    gap: 40px;
}
.change-habit-img .img-heading-sec
{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 8px;
}
/* change your habit section end */

/* Run extra mile section */
.run-extra-mile-sec{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.run-extra-text-sec{
    padding-left: 54px;
}
.run-extra-text-sec .extra-run-btn{
    padding: 16px 40px;
    border-radius: 42px;
    margin-top: 34px;
}
 .run-extra-img-sec{
    width: 50%;
    border-radius: 60px;
    padding: 30px;
}
/* end extra mile section */

/* our feature section  */
.our-feature-heading{
  text-align: center;
  margin-bottom: 50px;  
}
.our-feature-sec{
    justify-content: space-between;
    gap: 60px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.our-feature-left-sec{
    padding: 20px;
}
.our-feature-left-sec .our-feature-left-heading{
    font-size: 1.5rem;
    color:rgb(230, 83, 60);
    margin-bottom: 20px;
}
.our-feature-left-sec img{
    width: 100%;
    margin-top: 20px;
    border-radius: 18px;
}
.our-feature-right-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 20px;
}
.our-feature-logo-card img{
    width: 20%;
}
.our-feature-logo-text .our-feature-logo-heading{
    font-size: 1.2rem;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* our service start */
.our-services{
    flex-direction: column;
    text-align: center;
}

.services-card-sec {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.services-card-sec .service-card-program{
    background-color: rgba(138, 138, 138, 0.1);
    border-radius: 18px;
    margin-top: 40px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.service-card-program img{
    width: 90%;
    border-radius: 18px;
    padding: 10px ;
}
.service-card-program .services-card-heading{
    color: white;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
/* our service end */

/* BMI calculate */
.bmi-bold-heading{
    text-align: center;
}
.bmi-calculate{
    background-color: rgb(34, 34, 34);
}
.bmi-calculate-sec .bmi-heading-tittle{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 14px;

}
.bmi-calculate-sec{
    justify-content: space-between;
    gap: 170px;
}
.bmi-calculate-sec table, tr,td,th{
    border: 1px solid
    rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: left;
    padding: 10px 68px 15px 18px;
    margin-top: 36px;
    margin-bottom: 100px;
}
.calculate-your-bmi{
    width: 577px;
}
 .click-button-bmi{
    border-radius: 42px;
    padding: 16px 40px;
    margin-top: 34px;
    margin-bottom: 50px;
}
.input-section{
    margin-top: 34px;
}
.input-section .first-input-sec, .third-input-sec{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
  margin-top: 12px;
}
.third-input-sec{
    grid-template-columns: 2fr;
}
.calculate-your-bmi form input, select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 40px;
}
/* BMI section end */

/* Meet our team */
.meet-our-team{
    flex-direction: column;
}
.meet-our-team .meet-our-team-text{
    text-align: center;
}

.meet-our-img-sec .meet-our-img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.meet-our-img-sec{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}
.meet-our-img-card{
    position: relative;
}
.meet-img-description .meet-img-des-heading{
    font-size: 1.25rem;
    color: white;
}
.meet-our-img-sec .meet-img-description{
    position: absolute;
    top: 80%;
    left: 8%;
}
/* meet our team end */
/* Become our member */
.become-membership-info{
    text-align: center;
}
.become-full-member .become-membership-second-head{
  font-size: 2rem;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.become-membership-info .become-member-third-heading{
    color: rgb(230, 83, 60);
    font-size: 1.4rem;    
}
.become-full-member .become-member-heading{
    margin-bottom: 15px ;
}
.become-full-member .get-membership-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px; 
    text-align: center;
}
.get-membership-card .membership-card-info{
    background-color: rgb(41, 41, 40);
    padding: 30px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.membership-card-info .membership-card-headin-info{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;    
    text-align: left;
}
.membership-card-info .membership-card-para-info{
    color: rgb(230, 83, 60);
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: left;
}
.membership-card-info .membership-card-list-details{
    list-style: none;
    color: white;
    font-size: 1.25rem;
    padding: 10px;
    text-align: left;
}
.membership-card-info .membership-card-list-details .fa-check{
  margin-right: 5px;
}
.membership-card-info .choose-packages{
    padding: 16px 20px;
    margin-top: 20px;
}
.membership-card-info .choose-packages:hover{
    opacity: 0.7;
    transition: 0.3s;
}
/* Become membership end */

/* Footer section */
.footer-section{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
}
.footer-sub-section .footer-logo-heading{
    color: rgb(230, 83, 60);
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 20px ;
}
.footer-sub-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-sub-info{
    margin-bottom: 60px;
}
.footer-sub-info-head{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-list-item{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.35rem;
    margin-bottom: 20px;
}
.footer-paragraph-tittle{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.35rem;
    text-align: center;
}
/* Footer section end */


/* Responsive Design */
@media  screen and (max-width:576px) {
    .container{
        margin: 3rem auto;
    }
    .heading-tittle{
        font-size: 2rem;
    }
     /* nav section */
    .nav-section .nav-section-list{
        display: none;
    }
    .ham-burger-menu{
        display: block;
        font-size: 1.35rem;
        color: white;
    }
    /* banner section */
    .banner-section{
        flex-direction: column;
        gap: 10px;
    }
    .banner-heading{
        font-size: 2.3rem;
        margin-top: 60px;
    }
    .image-section{
        margin-top: 13px;
    }
    .responsive-button{
       display: none;
    }
    .banner-button{
        padding: 12px 26px;
    }
    .video-tutorial-num{
        font-size: 1.35rem;
    }
    .video-tutorial{
        gap: 4px;
        top:840px ; 
        right: 140px;
        padding: 10px 14px;
    }
    .free-workout .free-workout-num{
        font-size: 1.4rem;
    }
    .free-workout{
        top: 680px;
        right: 0;
        padding: 10px 14px;
    }

    /* fit and fabulous  */
    .fit-and-fabulous-heading{
        margin-bottom: 0;
    }
    .fit-and-fabulous-card{
        grid-template-columns: repeat(1,1fr);
    }
    /* change your habit */
    .habit-section-img{
        grid-template-columns: repeat(1,1fr);
    }
    .change-habit-img{
        margin-bottom: 30px;
    }
    /* Run extra mile */
    .run-extra-mile-sec{
        flex-direction: column;
        gap: 0;
    }
    .extra-run-anchore{
        display: flex;
        justify-content: center;
    }
    .run-extra-text-sec{
        padding: 22px;
    }
    .run-extra-img-sec{
        width: 80%;
        padding: 0;
        border-radius: 16px;
        padding-bottom: 20px;
    }
    /* Our feature */
    .our-feature-sec{
        flex-direction: column;
    }
    /* Our service */
    .services-card-sec{
        grid-template-columns: repeat(1,1fr);
    }
    .services-card-sec .service-card-program {
        margin-top: 20px;
    }
    /* BMI calculate */
    .bmi-calculate-sec{
        flex-direction: column;
        gap: 20px;
    }
    .bmi-calculate-sec table, tr,td,th{
        padding:8px 30px 14px 10px ;
    }
    /* Meet our team */
    .meet-our-img-sec{
        grid-template-columns: repeat(1,1fr);
    }
    /* become our membership */
    .become-full-member .get-membership-card{
        grid-template-columns: repeat(1,1fr);
    }
    /* Footer section */
    .footer-sub-section{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
}